# Turn on the RewriteEngine
RewriteEngine On

# RULES
# any request /number/number or just /number loads an image
RewriteCond %{REQUEST_URI} ^/[0-9]+/[0-9]+/ [OR]
RewriteCond %{REQUEST_URI} ^/[0-9]+/[0-9]+ [OR]
RewriteCond %{REQUEST_URI} ^/[0-9]+/ [OR]
RewriteCond %{REQUEST_URI} ^/[0-9]+
RewriteRule . placeholder.php